<section>
	<h1>Dashboard</h1>
	<div class="panel panel-default">
		<div class="panel-heading">
			<a href="#/new-document" class="btn btn-primary">New document</a>
		</div>
		<div class="panel-body">
			<h3>My documents:</h3>
			
			<table class="table table-bordered table-striped">
				<thead>
					<th>Name</th>
					<th>Created at</th>
					<th>Status</th>
					<th>Type</th>
				</thead>
				<tbody data-bind="foreach: documents">
					<tr>
						<td><a data-bind="text: $data.name, attr: {href: '#/document/' + $data.objectId}"></a></td>
						<td data-bind="text: new Date($data.createdAt)"></td>
						<td data-bind="text: $parent.showStatus($data.status)"></td>
						<td data-bind="text: $parent.showType($data.type)"></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</section>