<section>

	<h1>Create New document</h1>

	<form name="newDocumentForm" class='well container-fluid' data-bind="submit: createDocument">
		<div class="row">
			<div class="col-md-6">
				<div class="form-group">
					<label for="documentName">Document name</label>
					<input type="text" name="documentName" id="documentName" class="form-control" data-bind="value: documentName" placeholder="Enter new document name">
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group">
					<label for="documentType">Document type</label>
					<select name="documentType" id="documentType" class="form-control" data-bind="value: documentType, options: documentTypes, optionsText: 'name', optionsCaption: 'Choose type of document', event: {change: loadFields}"></select>
				</div>
			</div>
		</div>
		<div class="row" data-bind="foreach: documentFields">
			<div class="col-sm-6">
				<div class="form-group">
					<label data-bind="text: $data.name, attr: {for: $data.name}"></label>
					<input type="text" class="form-control" data-bind="value: $parent.properties[$data.name], attr: {name: $data.name, id: $data.name, placeholder: 'Enter ' + $data.name}">
				</div>
			</div>
		</div>
		<div class="row" data-bind="if: typeChosen">
			<div class="col-sm-6" data-bind="ifnot: changeMode">
				<div class="form-group">
					<label>Responsible person:</label>
					<p class="form-control-static">
						<span data-bind="text: showResponsiblePerson()"></span>
						<span class="btn btn-default pull-right" data-bind="click: switchChangeMode, text: 'Change'"></span>
					</p>
				</div>
			</div>
			<div class="col-sm-6" data-bind="if: changeMode">
				<div class="form-group">
					<label>Choose responsible person:</label>
					<select name="responsiblePerson" id="responsiblePerson" class="form-control" data-bind="value: responsible, options: people, optionsText: 'fullname', optionsCaption: 'Choose responsible person', event: {change: switchChangeMode}"></select>
				</div>
			</div>
		</div>
		<div>
			<button class="btn btn-primary" data-bind="attr: {disabled: changeMode}">Create</button>
		</div>
	</form>

</section>