<section>

	<h1>Create New document</h1>

	<form name="newDocumentForm" class='well container-fluid'>
		<div class="col-md-6">
			<div class="form-group">
				<label for="documentName">Document name</label>
				<input type="text" name="documentName" id="documentName" class="form-control" data-bind="value: documentName" placeholder="Enter new document name">
			</div>
			<div class="form-group">
				<label for="documentType">Document type</label>
				<select name="documentType" id="documentType" class="form-control" data-bind="value: documentType, options: documentTypes, optionsText: 'name', optionsCaption: 'Choose type of document', event: {change: loadFields}"></select>
			</div>
		</div>
	</form>

</section>